.indexLab[data-v-2bf9883a] {
    background-color: #fff;
    min-height: 500px;
    z-index: 999;
    color: #000;
    margin: 0 20px;
    padding: 5px 10px;
    border-radius: 10px
}

.closeBtn[data-v-2bf9883a] {
    position: absolute;
    top: 5px;
    right: 30px;
    cursor: pointer;
    font-size: 20px
}

.labTabs[data-v-2bf9883a] {
    margin: 20px 0
}

#lv-container[data-v-2bf9883a] {
    margin: 0 auto;
    max-width: 800px
}

.Folderbox[data-v-2bf9883a] {
    display: table-cell;
    position: relative;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.el-card[data-v-2bf9883a] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin: 5px 10px;
    min-width: 400px;
    height: 70px;
    padding: 0
}

.cardClickBox[data-v-2bf9883a] {
    min-height: 60px;
    min-width: 350px;
    cursor: pointer
}

.cardClickBox[data-v-2bf9883a]:hover {
    color: #09f
}

.leftbox[data-v-2bf9883a] {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(20px,-50%);
    transform: translate(20px,-50%);
    width: 50px;
    height: 50px;
    line-height: 48px;
    border: 1px solid #ccc;
    border-radius: 25px
}

.rightbox[data-v-2bf9883a] {
    position: absolute;
    top: 50%;
    left: 85px;
    max-width: 250px;
    max-height: 50px;
    text-align: left;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.linkicon[data-v-2bf9883a] {
    font-size: 25px
}

.linkname[data-v-2bf9883a] {
    font-size: 18px;
    font-weight: 700
}

.linkinfo[data-v-2bf9883a] {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #72767b
}

.search {
    margin: 30px 0;
    text-align: center;
    z-index: 999
}

.searchBox {
    margin: 0 20px
}

.searchResult {
    z-index: 1;
    position: relative;
    cursor: pointer;
    text-align: left;
    background: rgba(0,0,0,.318);
    max-height: 300px;
    overflow-y: scroll;
    padding: 15px;
    border-radius: 0 0 4px 4px
}

.searchResult .url {
    text-decoration: underline
}

.searchResult p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.background {
    background-color: transparent;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    border: 1px solid hsla(0,0%,100%,.2);
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.li-tab {
    float: left;
    cursor: pointer;
    line-height: 18px
}

.active .trangle {
    width: 0;
    height: 2px;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top: 6px solid #fff;
    z-index: 99;
    bottom: 0;
    margin-left: 8px
}

.activeEngine {
    font-size: 17px
}

.search .el-input__inner {
    background-color: rgba(0,0,0,.1);
    border: 0;
    color: inherit
}

.search .el-input__inner::-webkit-input-placeholder {
    color: inherit
}

.search .el-input__inner::-moz-placeholder {
    color: inherit
}

.search .el-input__inner:-ms-input-placeholder {
    color: inherit
}

.search .el-input__inner::-ms-input-placeholder {
    color: inherit
}

.search .el-input__inner::placeholder {
    color: inherit
}

.search .el-input-group__append {
    background-color: rgba(0,0,0,.2);
    color: inherit;
    font-size: 18px;
    border: 0;
    cursor: pointer
}

.about .title {
    color: rgba(0,0,0,.7);
    padding: 0 0 6px 12px;
    margin-top: 20px
}

.about img,.qr img {
    display: block;
    margin: 0 auto
}

.qr img {
    width: 140px
}

.layout .selectLayout {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.layout .selectLayout .layoutItem {
    text-align: center;
    width: 45%
}

.layout .selectLayout .layoutItem img {
    width: 100%;
    border-radius: 6px;
    border: 2px solid #f0f0f0
}

.layout .selectLayout .layoutItem .isChecked {
    border: 2px solid #1890ff
}

.account .accountTips {
    color: #939393
}

.account .accountTips li {
    margin-top: 10px;
    list-style-type: disc
}

.el-drawer {
    width: 450px
}

@media screen and (max-width: 568px) {
    .el-drawer {
        max-width:80%!important
    }

    .item-title {
        display: none!important
    }

    .el-aside {
        width: 60px!important
    }
}

.el-container {
    height: 100%
}

.el-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0
}

.el-aside {
    cursor: pointer
}

.logo {
    width: 140px
}

.logo img {
    width: 60px
}

.titleContent {
    text-align: left
}

.titleContent .title {
    color: #222;
    font-size: 18px;
    margin-bottom: 5px
}

.titleContent .info {
    color: #939393;
    font-size: 14px
}

.el-main {
    background-color: #f1f0f5;
    border-radius: 6px;
    padding: 10px;
    height: 100%;
    overflow: auto;
    text-align: left
}

ul {
    padding: 0;
    margin: 0 10px
}

.d-tabs {
    color: #000
}

.d-tabs-item {
    margin: 0 10px;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    margin: 5px 0;
    padding: var(--padding,8px)
}

.d-tabs-item:hover {
    background: rgba(0,0,0,.04);
    border-radius: 6px
}

.d-tabs-item .setting-aside-item {
    height: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.d-tabs-item .setting-aside-item i {
    font-size: 20px
}

.d-tabs-item .setting-aside-item .item-title {
    margin-left: 10px
}

.asideActive {
    -webkit-transition: color .2s;
    transition: color .2s;
    color: #1890ff;
    border-color: #1890ff
}

.asideActive,.asideActive:hover {
    background: rgba(24,144,255,.1)
}

.card {
    padding: 8px 16px;
    background-color: #fff;
    border-radius: 6px;
    cursor: pointer;
    line-height: 25px;
    color: #222;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.felx {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.random[data-v-e75d9a12] {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: rgba(0,0,0,.7)
}

.random .randomContent[data-v-e75d9a12] {
    position: absolute;
    top: 50%;
    margin-left: -50px;
    left: 50%;
    -webkit-animation: speeder-data-v-e75d9a12 .4s linear infinite;
    animation: speeder-data-v-e75d9a12 .4s linear infinite
}

.random .randomContent>span[data-v-e75d9a12] {
    height: 5px;
    width: 35px;
    background: #fff;
    position: absolute;
    top: -19px;
    left: 60px;
    border-radius: 2px 10px 1px 0
}

.random .base span[data-v-e75d9a12] {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-right: 100px solid #fff;
    border-bottom: 6px solid transparent
}

.random .base span[data-v-e75d9a12]:before {
    content: "";
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    right: -110px;
    top: -16px
}

.random .base span[data-v-e75d9a12]:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0 solid transparent;
    border-right: 55px solid #fff;
    border-bottom: 16px solid transparent;
    top: -16px;
    right: -98px
}

.random .face[data-v-e75d9a12] {
    position: absolute;
    height: 12px;
    width: 20px;
    background: #fff;
    border-radius: 20px 20px 0 0;
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
    right: -125px;
    top: -15px
}

.random .face[data-v-e75d9a12]:after {
    content: "";
    height: 12px;
    width: 12px;
    background: #fff;
    right: 4px;
    top: 7px;
    position: absolute;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    border-radius: 0 0 0 2px
}

.random .body>span>span[data-v-e75d9a12]:first-child,.random .body>span>span[data-v-e75d9a12]:nth-child(2),.random .body>span>span[data-v-e75d9a12]:nth-child(3),.random .body>span>span[data-v-e75d9a12]:nth-child(4) {
    width: 30px;
    height: 1px;
    background: #fff;
    position: absolute;
    -webkit-animation: fazer1-data-v-e75d9a12 .2s linear infinite;
    animation: fazer1-data-v-e75d9a12 .2s linear infinite
}

.random .body>span>span[data-v-e75d9a12]:nth-child(2) {
    top: 3px;
    -webkit-animation: fazer2-data-v-e75d9a12 .4s linear infinite;
    animation: fazer2-data-v-e75d9a12 .4s linear infinite
}

.random .body>span>span[data-v-e75d9a12]:nth-child(3) {
    top: 1px;
    -webkit-animation: fazer3-data-v-e75d9a12 .4s linear infinite;
    animation: fazer3-data-v-e75d9a12 .4s linear infinite;
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

.random .body>span>span[data-v-e75d9a12]:nth-child(4) {
    top: 4px;
    -webkit-animation: fazer4-data-v-e75d9a12 1s linear infinite;
    animation: fazer4-data-v-e75d9a12 1s linear infinite;
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

@-webkit-keyframes fazer1-data-v-e75d9a12 {
    0% {
        left: 0
    }

    to {
        left: -80px;
        opacity: 0
    }
}

@keyframes fazer1-data-v-e75d9a12 {
    0% {
        left: 0
    }

    to {
        left: -80px;
        opacity: 0
    }
}

@-webkit-keyframes fazer2-data-v-e75d9a12 {
    0% {
        left: 0
    }

    to {
        left: -100px;
        opacity: 0
    }
}

@keyframes fazer2-data-v-e75d9a12 {
    0% {
        left: 0
    }

    to {
        left: -100px;
        opacity: 0
    }
}

@-webkit-keyframes fazer3-data-v-e75d9a12 {
    0% {
        left: 0
    }

    to {
        left: -50px;
        opacity: 0
    }
}

@keyframes fazer3-data-v-e75d9a12 {
    0% {
        left: 0
    }

    to {
        left: -50px;
        opacity: 0
    }
}

@-webkit-keyframes fazer4-data-v-e75d9a12 {
    0% {
        left: 0
    }

    to {
        left: -150px;
        opacity: 0
    }
}

@keyframes fazer4-data-v-e75d9a12 {
    0% {
        left: 0
    }

    to {
        left: -150px;
        opacity: 0
    }
}

@-webkit-keyframes speeder-data-v-e75d9a12 {
    0% {
        -webkit-transform: translate(2px,1px) rotate(0deg);
        transform: translate(2px,1px) rotate(0deg)
    }

    10% {
        -webkit-transform: translate(-1px,-3px) rotate(-1deg);
        transform: translate(-1px,-3px) rotate(-1deg)
    }

    20% {
        -webkit-transform: translate(-2px) rotate(1deg);
        transform: translate(-2px) rotate(1deg)
    }

    30% {
        -webkit-transform: translate(1px,2px) rotate(0deg);
        transform: translate(1px,2px) rotate(0deg)
    }

    40% {
        -webkit-transform: translate(1px,-1px) rotate(1deg);
        transform: translate(1px,-1px) rotate(1deg)
    }

    50% {
        -webkit-transform: translate(-1px,3px) rotate(-1deg);
        transform: translate(-1px,3px) rotate(-1deg)
    }

    60% {
        -webkit-transform: translate(-1px,1px) rotate(0deg);
        transform: translate(-1px,1px) rotate(0deg)
    }

    70% {
        -webkit-transform: translate(3px,1px) rotate(-1deg);
        transform: translate(3px,1px) rotate(-1deg)
    }

    80% {
        -webkit-transform: translate(-2px,-1px) rotate(1deg);
        transform: translate(-2px,-1px) rotate(1deg)
    }

    90% {
        -webkit-transform: translate(2px,1px) rotate(0deg);
        transform: translate(2px,1px) rotate(0deg)
    }

    to {
        -webkit-transform: translate(1px,-2px) rotate(-1deg);
        transform: translate(1px,-2px) rotate(-1deg)
    }
}

@keyframes speeder-data-v-e75d9a12 {
    0% {
        -webkit-transform: translate(2px,1px) rotate(0deg);
        transform: translate(2px,1px) rotate(0deg)
    }

    10% {
        -webkit-transform: translate(-1px,-3px) rotate(-1deg);
        transform: translate(-1px,-3px) rotate(-1deg)
    }

    20% {
        -webkit-transform: translate(-2px) rotate(1deg);
        transform: translate(-2px) rotate(1deg)
    }

    30% {
        -webkit-transform: translate(1px,2px) rotate(0deg);
        transform: translate(1px,2px) rotate(0deg)
    }

    40% {
        -webkit-transform: translate(1px,-1px) rotate(1deg);
        transform: translate(1px,-1px) rotate(1deg)
    }

    50% {
        -webkit-transform: translate(-1px,3px) rotate(-1deg);
        transform: translate(-1px,3px) rotate(-1deg)
    }

    60% {
        -webkit-transform: translate(-1px,1px) rotate(0deg);
        transform: translate(-1px,1px) rotate(0deg)
    }

    70% {
        -webkit-transform: translate(3px,1px) rotate(-1deg);
        transform: translate(3px,1px) rotate(-1deg)
    }

    80% {
        -webkit-transform: translate(-2px,-1px) rotate(1deg);
        transform: translate(-2px,-1px) rotate(1deg)
    }

    90% {
        -webkit-transform: translate(2px,1px) rotate(0deg);
        transform: translate(2px,1px) rotate(0deg)
    }

    to {
        -webkit-transform: translate(1px,-2px) rotate(-1deg);
        transform: translate(1px,-2px) rotate(-1deg)
    }
}

.random .longfazers[data-v-e75d9a12] {
    position: absolute;
    width: 100%;
    height: 100%
}

.random .longfazers span[data-v-e75d9a12] {
    position: absolute;
    height: 2px;
    width: 20%;
    background: #fff
}

.random .longfazers span[data-v-e75d9a12]:first-child {
    top: 20%;
    -webkit-animation: lf-data-v-e75d9a12 .6s linear infinite;
    animation: lf-data-v-e75d9a12 .6s linear infinite;
    -webkit-animation-delay: -5s;
    animation-delay: -5s
}

.random .longfazers span[data-v-e75d9a12]:nth-child(2) {
    top: 40%;
    -webkit-animation: lf2-data-v-e75d9a12 .8s linear infinite;
    animation: lf2-data-v-e75d9a12 .8s linear infinite;
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

.random .longfazers span[data-v-e75d9a12]:nth-child(3) {
    top: 60%;
    -webkit-animation: lf3-data-v-e75d9a12 .6s linear infinite;
    animation: lf3-data-v-e75d9a12 .6s linear infinite
}

.random .longfazers span[data-v-e75d9a12]:nth-child(4) {
    top: 80%;
    -webkit-animation: lf4-data-v-e75d9a12 .5s linear infinite;
    animation: lf4-data-v-e75d9a12 .5s linear infinite;
    -webkit-animation-delay: -3s;
    animation-delay: -3s
}

@-webkit-keyframes lf-data-v-e75d9a12 {
    0% {
        left: 200%
    }

    to {
        left: -200%;
        opacity: 0
    }
}

@keyframes lf-data-v-e75d9a12 {
    0% {
        left: 200%
    }

    to {
        left: -200%;
        opacity: 0
    }
}

@-webkit-keyframes lf2-data-v-e75d9a12 {
    0% {
        left: 200%
    }

    to {
        left: -200%;
        opacity: 0
    }
}

@keyframes lf2-data-v-e75d9a12 {
    0% {
        left: 200%
    }

    to {
        left: -200%;
        opacity: 0
    }
}

@-webkit-keyframes lf3-data-v-e75d9a12 {
    0% {
        left: 200%
    }

    to {
        left: -100%;
        opacity: 0
    }
}

@keyframes lf3-data-v-e75d9a12 {
    0% {
        left: 200%
    }

    to {
        left: -100%;
        opacity: 0
    }
}

@-webkit-keyframes lf4-data-v-e75d9a12 {
    0% {
        left: 200%
    }

    to {
        left: -100%;
        opacity: 0
    }
}

@keyframes lf4-data-v-e75d9a12 {
    0% {
        left: 200%
    }

    to {
        left: -100%;
        opacity: 0
    }
}

.header[data-v-8715cd68] {
    padding: 10px 10px;
    height: 70px;
    z-index: 1;
    position: relative
}

.headerbtn[data-v-8715cd68] {
    margin: 5px;
    cursor: pointer
}

.el-dropdown[data-v-8715cd68] {
    color: inherit;
    cursor: pointer
}

.dropdownMenu[data-v-8715cd68] {
    text-align: left;
    width: 160px
}

.settingArea[data-v-8715cd68] {
    text-align: right;
    line-height: 2;
    cursor: pointer
}

[data-v-8715cd68] .module {
    color: inherit!important
}

.settingIcon[data-v-8715cd68] {
    font-size: 20px;
    padding: 10px;
    color: inherit
}

li {
    margin: 10px
}

.footer {
    text-align: center;
    padding: 50px 0 30px 0;
    max-width: 80%;
    margin: 0 auto;
    cursor: pointer
}

.footer .name {
    white-space: nowrap
}

.footer .line {
    margin: 0 5px
}

#particles-js {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: fixed
}

.amusic[data-v-02f9d387] {
    z-index: 999;
    max-width: 100%
}

.amusic[data-v-02f9d387] .aplayer-fixed {
    max-width: 650px;
    border-radius: 0 7px 0 0;
    overflow: hidden
}

.amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body {
    background-color: #e0e5ec;
    color: #65717e;
    border: 0;
    margin: 0;
    max-width: 650px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding-right: 0;
    width: 100%;
    height: auto;
    border-radius: 0 7px 0 0
}

.amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-pic {
    height: 50px;
    width: 50px;
    border-radius: 7px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    z-index: 2
}

.amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-info {
    border: none!important;
    position: relative;
    margin: 0;
    height: auto;
    padding: 9px 7px 0 10px
}

.amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-info .aplayer-music {
    position: absolute;
    text-align: left;
    width: auto;
    left: 66px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

@media screen and (max-width: 500px) {
    .amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-info .aplayer-music {
        left:55px!important
    }
}

.amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-title {
    color: #65717e
}

.amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-author {
    color: #7e8a98
}

@media screen and (max-width: 500px) {
    .amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-title {
        max-width:85px;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }

    .amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-author {
        max-width: 50px;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }
}

.amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-controller {
    width: 100%
}

.amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-controller .aplayer-bar-wrap {
    position: absolute;
    width: 560px;
    padding: 0;
    top: -7px;
    left: 57px
}

.amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-controller .aplayer-bar-wrap .aplayer-played {
    background-color: #7e8a98!important
}

@media screen and (max-width: 500px) {
    .amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-controller .aplayer-bar-wrap {
        width:85%;
        left: 48px
    }
}

.amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-controller .aaa {
    padding: 5px;
    border-radius: 30px;
    color: #7e8a98;
    outline: none;
    cursor: pointer;
    -webkit-box-shadow: -5px -5px 15px 0 hsla(0,0%,100%,.62),5px 5px 15px 0 rgba(163,177,198,.66);
    box-shadow: -5px -5px 15px 0 hsla(0,0%,100%,.62),5px 5px 15px 0 rgba(163,177,198,.66);
    background: #e0e5ec;
    border-radius: 2em;
    border: 0
}

.amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-controller .aaa path {
    fill: #7e8a98
}

.amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-controller .aplayer-time {
    min-width: 30%;
    position: static;
    height: 100%;
    width: 100%;
    color: #7e8a98
}

.amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-controller .aplayer-time .aplayer-icon-back {
    position: absolute;
    left: 43%;
    padding: 5px;
    border-radius: 30px;
    color: #7e8a98;
    outline: none;
    cursor: pointer;
    -webkit-box-shadow: -5px -5px 15px 0 hsla(0,0%,100%,.62),5px 5px 15px 0 rgba(163,177,198,.66);
    box-shadow: -5px -5px 15px 0 hsla(0,0%,100%,.62),5px 5px 15px 0 rgba(163,177,198,.66);
    background: #e0e5ec;
    border-radius: 2em;
    border: 0
}

.amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-controller .aplayer-time .aplayer-icon-back path {
    fill: #7e8a98
}

.amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-controller .aplayer-time .aplayer-icon-play {
    left: 52%;
    width: 30px!important;
    height: 30px!important;
    bottom: 13px!important;
    padding: 5px;
    border-radius: 30px;
    color: #7e8a98;
    outline: none;
    cursor: pointer;
    -webkit-box-shadow: -5px -5px 15px 0 hsla(0,0%,100%,.62),5px 5px 15px 0 rgba(163,177,198,.66);
    box-shadow: -5px -5px 15px 0 hsla(0,0%,100%,.62),5px 5px 15px 0 rgba(163,177,198,.66);
    background: #e0e5ec;
    border-radius: 2em;
    border: 0
}

.amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-controller .aplayer-time .aplayer-icon-play path {
    fill: #7e8a98
}

.amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-controller .aplayer-time .aplayer-icon-forward {
    left: 63%;
    padding: 5px;
    border-radius: 30px;
    color: #7e8a98;
    outline: none;
    cursor: pointer;
    -webkit-box-shadow: -5px -5px 15px 0 hsla(0,0%,100%,.62),5px 5px 15px 0 rgba(163,177,198,.66);
    box-shadow: -5px -5px 15px 0 hsla(0,0%,100%,.62),5px 5px 15px 0 rgba(163,177,198,.66);
    background: #e0e5ec;
    border-radius: 2em;
    border: 0
}

.amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-controller .aplayer-time .aplayer-icon-forward path {
    fill: #7e8a98
}

.amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-controller .aplayer-time .aplayer-icon-menu {
    position: absolute;
    right: 0;
    bottom: 20px!important
}

@media screen and (max-width: 500px) {
    .amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-controller .aplayer-time .aplayer-time-inner {
        left:51px!important
    }

    .amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-controller .aplayer-time .aplayer-icon-back {
        left: 48%
    }

    .amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-controller .aplayer-time .aplayer-icon-play {
        left: 60%
    }

    .amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-controller .aplayer-time .aplayer-icon-forward {
        left: 75%
    }

    .amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-controller .aplayer-time .aplayer-icon-menu {
        right: 0
    }

    .amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-controller .aplayer-time .aplayer-icon-menu path {
        fill: #7e8a98
    }

    .amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-controller .aplayer-time .aplayer-icon-loop {
        right: 16%!important;
        display: none
    }

    .amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-controller .aplayer-time .aplayer-icon-order {
        right: 5%!important;
        display: none
    }
}

.amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-controller .aplayer-time .aplayer-time-inner {
    font-size: 14px;
    min-width: 100px;
    position: absolute;
    left: 61px;
    bottom: 12px;
    text-align: left
}

.amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-controller .aplayer-time .aplayer-icon {
    width: 20px;
    height: 20px
}

.amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-controller .aplayer-time .aplayer-volume-bar-wrap {
    right: 0
}

.amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-controller .aplayer-time .aplayer-volume-bar-wrap .aplayer-volume {
    width: 6px
}

.amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-controller .aplayer-time .aplayer-volume-wrap {
    right: 15%;
    bottom: 20px;
    position: absolute
}

.amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-controller .aplayer-time .aplayer-volume-wrap .aplayer-volume-bar-wrap:after {
    background-color: transparent;
    bottom: -20px;
    height: 67px
}

.amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-controller .aplayer-time .aplayer-volume-wrap .aplayer-volume-bar {
    bottom: 4px;
    left: 17px;
    width: 6px
}

.amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-controller .aplayer-time .aplayer-icon-order {
    right: 5%;
    bottom: 20px!important;
    position: absolute
}

.amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-controller .aplayer-time .aplayer-icon-loop {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10%;
    bottom: 20px!important
}

.amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-controller .aplayer-time .aplayer-icon {
    margin-left: 10px!important;
    margin-right: 10px;
    bottom: 17px
}

.amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-controller .aplayer-time .aplayer-icon path {
    fill: #7e8a98
}

.amusic[data-v-02f9d387] .aplayer-fixed .aplayer-body .aplayer-miniswitcher {
    display: none
}

.amusic[data-v-02f9d387] .aplayer-fixed .aplayer-list {
    background: #fff;
    margin-bottom: 60px;
    border-radius: 0 7px 0 0;
    border: none
}

.amusic[data-v-02f9d387] .aplayer-fixed .aplayer-list .aplayer-list-index {
    float: left
}

.amusic[data-v-02f9d387] .aplayer-fixed .aplayer-list .aplayer-list-title {
    color: #666
}

.musicIsNoMini[data-v-02f9d387] {
    width: 100%
}

.musicIsMini[data-v-02f9d387] .aplayer .aplayer-body {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}

.navLoader[data-v-d59ef678] {
    margin: 0 auto;
    width: 17em;
    height: 17em;
    font-size: 10px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.navLoader .face[data-v-d59ef678]:first-child {
    width: 100%;
    height: 100%;
    color: gold;
    border-color: currentColor transparent transparent currentColor;
    border-width: .2em .2em 0 0;
    --deg: -45deg;
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    -webkit-animation: rotate-clockwise-data-v-d59ef678 3s linear infinite;
    animation: rotate-clockwise-data-v-d59ef678 3s linear infinite
}

.navLoader .face[data-v-d59ef678]:nth-child(2) {
    width: 70%;
    height: 70%;
    color: #0f0;
    border-color: currentColor currentColor transparent transparent;
    border-width: .2em 0 0 .2em;
    --deg: -135deg;
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    -webkit-animation: rotate-counterclockwise-data-v-d59ef678 3s linear infinite;
    animation: rotate-counterclockwise-data-v-d59ef678 3s linear infinite
}

.navLoader .face .circle[data-v-d59ef678] {
    position: absolute;
    width: 50%;
    height: .1em;
    top: 50%;
    left: 50%;
    background-color: transparent;
    -webkit-transform: rotate(var(--deg));
    transform: rotate(var(--deg));
    -webkit-transform-origin: left;
    transform-origin: left
}

.navLoader .face .circle[data-v-d59ef678]:before {
    position: absolute;
    top: -.5em;
    right: -.5em;
    content: "";
    width: 1em;
    height: 1em;
    background-color: currentColor;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 2em,0 0 4em,0 0 6em,0 0 8em,0 0 10em,0 0 0 .5em rgba(255,255,0,.1);
    box-shadow: 0 0 2em,0 0 4em,0 0 6em,0 0 8em,0 0 10em,0 0 0 .5em rgba(255,255,0,.1)
}

@-webkit-keyframes rotate-clockwise-data-v-d59ef678 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes rotate-clockwise-data-v-d59ef678 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@-webkit-keyframes rotate-counterclockwise-data-v-d59ef678 {
    0% {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }

    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

@keyframes rotate-counterclockwise-data-v-d59ef678 {
    0% {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }

    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

body[data-v-032a0716] {
    margin: 0;
    padding: 0
}

#loading-box .loading-left-bg[data-v-032a0716],#loading-box .loading-right-bg[data-v-032a0716] {
    position: fixed;
    z-index: 999998;
    width: 50%;
    height: 100%;
    background-color: hsla(0,0%,100%,.1);
    -webkit-transition: all .75s cubic-bezier(.42,0,0,1.01);
    transition: all .75s cubic-bezier(.42,0,0,1.01);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px)
}

#loading-box .loading-right-bg[data-v-032a0716] {
    right: 0
}

#loading-box>.spinner-box[data-v-032a0716] {
    position: fixed;
    z-index: 999999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100vh
}

#loading-box .spinner-box .loading-word[data-v-032a0716] {
    position: absolute;
    color: #fff;
    font-size: .95rem;
    -webkit-transform: translateY(64px);
    transform: translateY(64px);
    text-align: center
}

.loading-title[data-v-032a0716] {
    font-size: 1.25rem;
    margin: 20px 10px 4px 10px
}

#loading-box .spinner-box .configure-core[data-v-032a0716] {
    width: 100%;
    height: 100%;
    background-color: #37474f
}

.loaded .loading-left-bg[data-v-032a0716] {
    -webkit-transform: translate(-100%);
    transform: translate(-100%)
}

.loaded .loading-right-bg[data-v-032a0716] {
    -webkit-transform: translate(100%);
    transform: translate(100%)
}

.loaded .spinner-box[data-v-032a0716] {
    display: none!important
}

.loader[data-v-032a0716] {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    -webkit-perspective: 800px;
    perspective: 800px;
    -webkit-transition: all .7s cubic-bezier(.42,0,0,1.01);
    transition: all .7s cubic-bezier(.42,0,0,1.01)
}

.inner[data-v-032a0716] {
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%
}

.inner.one[data-v-032a0716] {
    left: 0;
    top: 0;
    -webkit-animation: rotate-one-data-v-032a0716 1s linear infinite;
    animation: rotate-one-data-v-032a0716 1s linear infinite;
    border-bottom: 3px solid #efeffa
}

.inner.two[data-v-032a0716] {
    right: 0;
    top: 0;
    -webkit-animation: rotate-two-data-v-032a0716 1s linear infinite;
    animation: rotate-two-data-v-032a0716 1s linear infinite;
    border-right: 3px solid #efeffa
}

.inner.three[data-v-032a0716] {
    right: 0;
    bottom: 0;
    -webkit-animation: rotate-three-data-v-032a0716 1s linear infinite;
    animation: rotate-three-data-v-032a0716 1s linear infinite;
    border-top: 3px solid #efeffa
}

@-webkit-keyframes rotate-one-data-v-032a0716 {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotate(0deg);
        transform: rotateX(35deg) rotateY(-45deg) rotate(0deg)
    }

    to {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotate(1turn);
        transform: rotateX(35deg) rotateY(-45deg) rotate(1turn)
    }
}

@keyframes rotate-one-data-v-032a0716 {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotate(0deg);
        transform: rotateX(35deg) rotateY(-45deg) rotate(0deg)
    }

    to {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotate(1turn);
        transform: rotateX(35deg) rotateY(-45deg) rotate(1turn)
    }
}

@-webkit-keyframes rotate-two-data-v-032a0716 {
    0% {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotate(0deg);
        transform: rotateX(50deg) rotateY(10deg) rotate(0deg)
    }

    to {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotate(1turn);
        transform: rotateX(50deg) rotateY(10deg) rotate(1turn)
    }
}

@keyframes rotate-two-data-v-032a0716 {
    0% {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotate(0deg);
        transform: rotateX(50deg) rotateY(10deg) rotate(0deg)
    }

    to {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotate(1turn);
        transform: rotateX(50deg) rotateY(10deg) rotate(1turn)
    }
}

@-webkit-keyframes rotate-three-data-v-032a0716 {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotate(0deg);
        transform: rotateX(35deg) rotateY(55deg) rotate(0deg)
    }

    to {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotate(1turn);
        transform: rotateX(35deg) rotateY(55deg) rotate(1turn)
    }
}

@keyframes rotate-three-data-v-032a0716 {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotate(0deg);
        transform: rotateX(35deg) rotateY(55deg) rotate(0deg)
    }

    to {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotate(1turn);
        transform: rotateX(35deg) rotateY(55deg) rotate(1turn)
    }
}

.IModal[data-v-3acdb280] {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    z-index: 9999
}

.IModal .IModalContent[data-v-3acdb280] {
    overflow-y: scroll;
    width: 100%;
    height: 100%
}

.IModal .popInner[data-v-3acdb280] {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 76%;
    height: 500px;
    background-color: hsla(0,0%,100%,.4);
    border-radius: 6px;
    z-index: 999;
    padding: 15px;
    padding-top: 45px
}

.IModal .popInner .foldersTitle[data-v-3acdb280] {
    position: absolute;
    top: 9px;
    left: 20px;
    font-size: 17px;
    color: #fff
}

.IModal .popInner .close[data-v-3acdb280] {
    position: absolute;
    top: 9px;
    right: 15px;
    font-size: 20px;
    display: block
}

.IModal .popInner .close[data-v-3acdb280]:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

.IModal-enter-active[data-v-3acdb280],.IModal-leave-active[data-v-3acdb280] {
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

.IModal-enter[data-v-3acdb280],.IModal-leave-to[data-v-3acdb280] {
    opacity: 0
}

.moreLinkMoalContent[data-v-6448b523] {
    display: grid;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content;
    grid-template-rows: min-content min-content min-content min-content min-content;
    cursor: pointer;
    margin: 7px
}

.moreLinkMoalContent .expandModalLink[data-v-6448b523] {
    height: 70px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #fff;
    background-color: hsla(0,0%,100%,.7);
    position: relative;
    padding: 10px 10px;
    text-align: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    visibility: visible;
    opacity: 1;
    -webkit-transform: matrix(1,0,0,1,0,0);
    transform: matrix(1,0,0,1,0,0);
    -webkit-transition: all .3s ease 0s,opacity .8s cubic-bezier(.5,0,0,1) .2s,-webkit-transform .8s cubic-bezier(.5,0,0,1) .2s;
    transition: all .3s ease 0s,opacity .8s cubic-bezier(.5,0,0,1) .2s,-webkit-transform .8s cubic-bezier(.5,0,0,1) .2s;
    transition: all .3s ease 0s,opacity .8s cubic-bezier(.5,0,0,1) .2s,transform .8s cubic-bezier(.5,0,0,1) .2s;
    transition: all .3s ease 0s,opacity .8s cubic-bezier(.5,0,0,1) .2s,transform .8s cubic-bezier(.5,0,0,1) .2s,-webkit-transform .8s cubic-bezier(.5,0,0,1) .2s
}

.moreLinkMoalContent .expandModalLink .item[data-v-6448b523] {
    position: relative;
    z-index: 2;
    width: 100%
}

.moreLinkMoalContent .expandModalLink .item .icon[data-v-6448b523],.moreLinkMoalContent .expandModalLink .item[data-v-6448b523] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.moreLinkMoalContent .expandModalLink .item .icon[data-v-6448b523] {
    border: 1px solid #fff;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 10px;
    color: #fff
}

.moreLinkMoalContent .expandModalLink .item .content[data-v-6448b523] {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0
}

.moreLinkMoalContent .expandModalLink .item .content .title[data-v-6448b523] {
    color: #282c33;
    font-size: 15px;
    font-weight: 500
}

.moreLinkMoalContent .expandModalLink .item .content .tips[data-v-6448b523] {
    margin: 0;
    color: #848b99;
    font-size: 13px;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.moreLinkMoalContent .expandModalLink[data-v-6448b523]:hover {
    border: 1px solid #1890ff;
    background-color: #1890ff;
    -webkit-box-shadow: 0 12px 32px rgba(24,144,255,.7);
    box-shadow: 0 12px 32px rgba(24,144,255,.7)
}

.moreLinkMoalContent .expandModalLink:hover .tips[data-v-6448b523],.moreLinkMoalContent .expandModalLink:hover .title[data-v-6448b523] {
    color: #fff!important
}

.imgLinkModal[data-v-65910450] {
    cursor: pointer;
    height: 100%
}

.imgLinkModal img[data-v-65910450] {
    width: 100%
}

@font-face {
    font-family: iconfont;
    src: url(../fonts/iconfont.266daee3.ttf) format("truetype")
}

.iconfont {
    font-family: iconfont!important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-tianjia-:before {
    content: "\e643"
}

.icon-taobao:before {
    content: "\e755"
}

.icon-jingdong:before {
    content: "\e618"
}

.icon-xinlangweibo:before {
    content: "\e601"
}

.icon-zhihu:before {
    content: "\e60a"
}

.icon-github:before {
    content: "\e691"
}

.icon-delete:before {
    content: "\e94d"
}

.icon-home:before {
    content: "\e964"
}

.icon-xiugai:before {
    content: "\e626"
}

.icon-bilibilidonghua:before {
    content: "\e8b1"
}

.icon-wangluo:before {
    content: "\e600"
}

.icon-sougousousuo:before {
    content: "\e685"
}

.icon-360sousuo:before {
    content: "\e64d"
}

.icon-baidu:before {
    content: "\eb49"
}

.icon-bing:before {
    content: "\eb4c"
}

.icon-google:before {
    content: "\ebaa"
}

.icon-shezhi:before {
    content: "\e634"
}

.icon-sousuo:before {
    content: "\e635"
}

.searchArea .sou {
    max-width: 600px;
    width: calc(100% - 60px);
    margin: 0 auto;
    position: relative
}

.searchArea .s,.searchArea .search,.searchArea .wd {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    animation: fade;
    -webkit-animation: fade .5s;
    -moz-animation: fade .5s;
    -o-animation: fade .5s;
    -ms-animation: fade .5s
}

.searchArea .el-input__inner {
    padding: 0;
    border-radius: 0;
    background: transparent
}

.searchArea .el-input__inner::-webkit-input-placeholder {
    letter-spacing: 1.5px;
    color: inherit;
    text-align: center;
    font-size: 14px;
    opacity: .6
}

.searchArea .el-input__inner::-moz-placeholder {
    color: inherit;
    text-align: center
}

.searchArea .all-search {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 43px;
    border-radius: 4px;
    color: inherit;
    overflow: hidden;
    background-color: hsla(0,0%,100%,.25);
    -webkit-box-shadow: rgba(0,0,0,.2) 0 0 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    -webkit-backdrop-filter: blur(10px) saturate(1.5);
    backdrop-filter: blur(10px) saturate(1.5)
}

.searchArea .searchBoxFillet {
    border-radius: 30px
}

.searchArea .all-search:hover {
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.2);
    box-shadow: 0 0 20px rgba(0,0,0,.2)
}

.searchArea .sou .wd {
    width: 100%;
    height: 100%;
    line-height: 100%;
    text-indent: 4px;
    font-size: 1.25rem;
    color: inherit
}

.searchArea .sou .s,.searchArea .sou .se {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    cursor: pointer;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.searchArea #icon-se,.searchArea #icon-sou {
    font-size: 1.25rem;
    color: inherit
}

.searchArea .sou .se {
    -webkit-transition: .3s;
    transition: .3s;
    border-radius: 0 30px 30px 0
}

.searchArea .sou .se span {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1.1px
}

.searchArea .sou .se:hover {
    -webkit-transition: .3s;
    transition: .3s;
    background: rgba(0,0,0,.25);
    border-radius: 0 30px 30px 0
}

.searchArea .sou-button,.searchArea .sou-button:hover {
    -webkit-transition: .3s;
    transition: .3s;
    border-radius: 30px 0 0 30px
}

.searchArea .sou-button:hover {
    background: rgba(0,0,0,.25)
}

.searchArea .search-engine {
    position: absolute;
    top: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    color: inherit;
    background: hsla(0,0%,100%,.1);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.05);
    box-shadow: 0 0 20px rgba(0,0,0,.05);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 4px;
    z-index: 999;
    width: 100%;
    animation: fade .5s;
    -webkit-animation: fade .5s;
    -moz-animation: fade .5s;
    -o-animation: fade .5s;
    -ms-animation: fade .5s
}

.searchArea .fade-enter-active,.searchArea .fade-leave-active {
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

.searchArea .fade-enter,.searchArea .fade-leave-to {
    opacity: 0
}

.searchArea .search-engine-list {
    width: 100%;
    height: 152px;
    overflow-y: auto;
    overflow-x: hidden
}

.searchArea .search-engine-list p {
    text-align: left
}

.searchArea .searchEngineList {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.searchArea .se-li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 23%;
    min-width: 23%;
    max-width: 23%;
    width: 100%;
    padding: 8px 0;
    margin: 1%;
    border-radius: 8px;
    -webkit-transition: .3s;
    transition: .3s;
    background: rgba(0,0,0,.25);
    position: relative
}

.searchArea .active-se-li,.searchArea .se-li {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.searchArea .active-se-li {
    border-width: 1px;
    border-style: solid;
    border-color: inherit
}

.searchArea .se-li:hover {
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    border-radius: 8px;
    background-color: hsla(0,0%,67.5%,.38)
}

.searchArea .se-li-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.searchArea .se-li-text i {
    margin-right: 10px
}

.searchArea .se-li-text span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.searchArea #keywords {
    position: absolute;
    width: 100%;
    top: 50px;
    font-size: small;
    color: inherit;
    background: hsla(0,0%,100%,.1);
    -webkit-box-shadow: 0 4px 12px rgba(190,196,207,.58);
    box-shadow: 0 4px 12px rgba(190,196,207,.58);
    border-radius: 4px;
    z-index: 999;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    animation: down;
    -webkit-animation: down .5s;
    -moz-animation: down .5s;
    -o-animation: down .5s;
    -ms-animation: down .5s;
    text-align: left;
    max-height: 300px;
    min-height: 50px;
    overflow-y: scroll
}

.searchArea #keywords .title {
    padding: 0 12px
}

.searchArea #keywords .keyword {
    padding: 6px 12px;
    border-radius: 8px;
    -webkit-transition: .3s;
    transition: .3s;
    animation: fade;
    -webkit-animation: fade .5s;
    -moz-animation: fade .5s;
    -o-animation: fade .5s;
    -ms-animation: fade .5s
}

.searchArea #keywords .keyword i {
    margin-right: 6px;
    font-size: small
}

.searchArea #keywords .keyword.choose,.searchArea #keywords .keyword:hover {
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    text-indent: 10px;
    background-color: hsla(0,0%,67.5%,.38);
    border-radius: 8px
}

.search-enter-active,.search-leave-active {
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

.search-enter,.search-leave-to {
    opacity: 0
}

.el-tabs__item {
    color: inherit
}

body {
    background-position: 50%;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    text-align: center;
    font-size: 13px;
    color: #fff;
    height: 100vh;
    min-height: 100vh
}

body,body h1,body h2,body h3 {
    margin: 0
}

body .hHidden {
    height: 0;
    overflow: hidden
}

body:before {
    height: 100vh;
    min-height: 100vh;
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover
}

.SearchTool {
    margin-top: 90px;
    margin-bottom: 60px
}

.navLoading {
    margin-top: 20px
}

.tooltipContent {
    color: #3091dc;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.nav {
    background: rgba(0,0,0,.318);
    background-color: hsla(0,0%,100%,.1);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    margin: 0 20px;
    margin-bottom: 12px;
    border-radius: 4px;
    overflow-x: scroll
}

.nav ul {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: auto;
    margin: 0;
    overflow: hidden;
    padding-inline:0}

.nav ul,.nav ul li {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.nav ul li {
    list-style: none;
    padding: 0 10px;
    border-bottom: 2px solid transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    fill: #fff;
    font-size: 14px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 20px;
    outline: none;
    text-decoration: none;
    white-space: nowrap
}

.nav ul li .active {
    font-weight: 700
}

.nav ul li .active:after {
    border-bottom: 2px solid #3091dc;
    border-radius: 40px;
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    width: 26px
}

.nav .recommendedSites {
    grid-row: 7/auto;
    opacity: 1;
    -webkit-transition: opacity .3s ease-out 0s;
    transition: opacity .3s ease-out 0s;
    visibility: visible;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: rgba(0,0,0,.2)
}

.nav .recommendedSites,.nav .recommendedSites ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal
}

.nav .recommendedSites ul {
    -webkit-box-orient: horizontal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-inline:8px 45px}

.nav .recommendedSites ul li {
    height: 28px;
    margin: 4px;
    padding: 0 4px;
    border-radius: 6px
}

.wx {
    height: 100vh;
    background: #000;
    position: absolute;
    top: 0;
    z-index: 1000;
    color: #000;
    font-size: 16px
}

.wx,.wx img {
    width: 100%
}

.siteTitle {
    height: 76px;
    min-height: 76px;
    position: relative
}

.siteName {
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 10px;
    letter-spacing: 2px
}

.siteInfo {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .5px
}

.totop {
    z-index: 1;
    position: relative
}

.folder {
    min-height: 176px;
    border-radius: 20px;
    overflow: auto;
    -webkit-backdrop-filter: blur(1.5px);
    backdrop-filter: blur(1.5px);
    border-bottom: 1px solid hsla(0,0%,100%,.4);
    border-right: 1px solid hsla(0,0%,100%,.4);
    -webkit-box-shadow: rgba(0,0,0,.3) -1px -1px 5px;
    box-shadow: -1px -1px 5px rgba(0,0,0,.3);
    padding: 13px 0;
    font-size: 13px;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.folder,.folder:hover {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.folder:hover {
    color: #fff;
    background: rgba(0,0,0,.3)
}

.folderNoBorder {
    min-height: 176px;
    border-radius: 20px;
    overflow: auto;
    border-width: .5px;
    border-style: solid;
    border-color: inherit 70;
    padding: 13px 0;
    font-size: 13px;
    -webkit-transition: all .3s;
    transition: all .3s
}

.folderNoBorder,.folderNoBorder:hover {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.folderNoBorder:hover {
    color: #fff;
    background: rgba(0,0,0,.3)
}

::-webkit-scrollbar {
    display: none
}

.foldername {
    position: relative;
    top: 0;
    left: 0;
    height: 36px
}

.foldername h3 {
    font-size: 16px;
    letter-spacing: 5px;
    font-weight: bolder;
    margin: 6px auto 6px;
    cursor: default
}

.link {
    min-height: 33px;
    max-height: 33px;
    cursor: pointer;
    text-align: left
}

.link.lineTextCenter {
    text-align: center
}

.link.pc {
    padding-left: 15px
}

.link.h5 {
    padding-left: 7px;
    font-size: 12px
}

.link .linkContent {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.link .icon {
    width: 16px;
    display: inline-block;
    text-align: center
}

.link:hover .linkName:before {
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5)
}

.link .linkName {
    position: relative;
    margin-left: 1px
}

.link .linkName:before {
    content: "";
    position: absolute;
    color: inherit;
    bottom: -2px;
    width: 100%;
    height: 1px;
    opacity: 1;
    border-style: solid;
    border-bottom: 1px;
    -webkit-transform: scale3d(0,.5,1);
    transform: scale3d(0,.5,1);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s,-webkit-transform 1s;
    -webkit-transition-timing-function: cubic-bezier(.2,1,.3,1);
    transition-timing-function: cubic-bezier(.2,1,.3,1)
}

.link:hover {
    color: #87cefa
}

a {
    color: inherit
}

.inputPWD {
    margin-top: 20px
}

.inputPWD i {
    font-size: 26px
}

.inputPWD .input {
    width: 80%;
    border-radius: 5px;
    overflow: hidden
}

.inputPWD .el-input__inner {
    background-color: hsla(0,0%,100%,.1);
    border-radius: 0;
    color: inherit;
    font-size: 12px;
    border: 0
}

.inputPWD .el-input__inner::-webkit-input-placeholder {
    color: inherit
}

.inputPWD .el-input__inner::-moz-placeholder {
    color: inherit
}

.inputPWD .el-input__inner:-ms-input-placeholder {
    color: inherit
}

.inputPWD .el-input__inner::-ms-input-placeholder {
    color: inherit
}

.inputPWD .el-input__inner::placeholder {
    color: inherit
}

.inputPWD .el-input-group__append {
    background-color: hsla(0,0%,100%,.15);
    color: inherit;
    border-radius: 0;
    cursor: pointer;
    border: 0
}

.openFolder {
    position: absolute;
    right: 0;
    top: 14px;
    width: 20px;
    height: 20px;
    cursor: pointer
}

.openFolder:hover {
    color: #87cefa
}

.particle {
    z-index: -999
}

.quickNav {
    padding: 0 6px
}

.folderContent {
    padding: 0 6px;
    display: grid;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-gap: 15px
}

.folderContent.pc {
    grid-template-columns: repeat(auto-fill,minmax(440px,445px))
}

.folderContent.h5 {
    grid-template-columns: repeat(auto-fill,minmax(auto,445px))
}

.folderArea {
    position: relative
}

.infoTips {
    background: hsla(0,0%,100%,.2);
    color: #efefef;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    position: absolute;
    top: -4px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 21px;
    z-index: 99;
    min-width: 120px;
    font-size: 14px;
    color: inherit;
    white-space: nowrap
}

.infoTips i {
    margin-right: 10px
}

.historyLinks {
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 1080px;
    padding: 0 20px;
    cursor: pointer
}

.historyLinks .historyLinksArrow {
    text-align: right
}

.historyLinks .historyLinksArrow i {
    margin-left: 5px
}

.historyLinkArea {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(104px,1fr));
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center
}

.historyLinkArea .historyLink {
    -webkit-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 80px;
    width: 104px;
    padding: 10px 12px;
    border-radius: 4px;
    font-size: 12px;
    color: inherit
}

.historyLinkArea .historyLink,.historyLinkArea .historyLink .icon {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.historyLinkArea .historyLink .icon {
    border-radius: 12px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 5px
}

.historyLinkArea .historyLink .icon i {
    color: inherit;
    font-size: 30px
}

.historyLinkArea .historyLink .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 100%
}

.historyLinkArea .historyLink:hover {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: hsla(0,0%,89.8%,.3)
}

.historyLink p:hover {
    border: 1px dashed rgba(0,125,184,.4)
}

.recent_links {
    position: absolute;
    width: 200px;
    height: 260px;
    right: 0;
    top: 65px;
    z-index: 100;
    overflow-y: scroll
}

@media screen and (max-width: 960px) {
    .recent_links {
        display:none
    }
}
